* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 375px;
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
  margin: auto;
  width: 100%;
}

.card-container {
  background-color: hsl(216, 50%, 16%);
  border-radius: 1em;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -2rem;
}
.image-card img {
  width: 90%;
  margin: 2rem auto;
  border-radius: 0.7rem;
}

.image-card img:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  opacity: 0.5;
  background-image: url('images/icon-view.svg') no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  margin: 1.7rem;
}

.ntf-coin {
  margin-bottom: 1rem;
}

.nft-name {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 1rem;
}

.ntf-description {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

.ntf {
  display: flex;
  align-items: baseline;
  padding-bottom: 2rem;
}

.coin {
  display: flex;
  font-weight: 600;
  align-items: center;
  color: hsl(178, 100%, 50%);
}

.coin img {
  margin-right: 0.3rem;
}

.coin .date {
  padding-right: 2rem;
}

.date {
  display: flex;
  margin-left: 7.6rem;
  color: hsl(215deg 51% 70%);
  font-weight: 300;
  align-items: center;
}

.date img {
  margin-right: 0.5rem;
}

.line {
  display: flex;
  margin-bottom: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.line::after {
  content: '';
  display: inline-block;
  height: 0.01em;
  vertical-align: bottom;
  width: 195%;
  margin-right: -100%;
  background-color: hsl(215, 32%, 27%);
}

.creator {
  display: flex;
  align-items: center;
}

.creator img {
  border-radius: 4rem;
  width: 10%;
  border: 1px solid hsl(0, 0%, 100%);
}

.name-creator {
  margin-left: 1rem;
  color: hsl(215, 51%, 70%);
}

.name {
  color: hsl(0, 0%, 100%);
  font-weight: 300;
}

@media (max-width: 768px) {
  .card-container {
    width: 100%;
    height: 15%;
  }

  .content {
    width: 90%;
  }

  .nft-name {
    font-size: 2rem;
  }

  .ntf-description {
    font-size: 1rem;
  }

  .coin {
    font-size: 1rem;
  }

  .coin img {
    width: 0.7rem;
  }

  .date {
    margin-left: 7rem;
    font-size: 1rem;
  }

  .date img {
    width: 1.3rem;
  }

  .name-creator {
    font-size: 1.2rem;
  }
}

@media (max-width: 1024px) {
  div .card-container {
    width: 100%;
  }

  .nft-name {
    font-size: 2rem;
  }

  .ntf-description {
    font-size: 1.2rem;
  }

  .coin {
    font-size: 1.2rem;
  }

  .coin img {
    width: 0.7rem;
  }

  .date {
    margin-left: 5.7rem;
    font-size: 1.2rem;
  }

  .date img {
    width: 1.3rem;
  }

  .name-creator {
    font-size: 1.4rem;
  }
}

@media (min-width: 1440px) {
  div .card-container {
    width: 160%;
    font-size: 1.9rem;
  }

  .ntf {
    display: flex;
    align-items: center;
  }

  .nft-name {
    font-size: 3rem;
  }

  .ntf-description {
    font-size: 1.7rem;
  }

  .coin {
    font-size: 1.6rem;
  }

  .coin img {
    width: 1rem;
    margin-right: 0.5rem;
  }

  .date {
    margin-left: 15rem;
    font-size: 1.6rem;
  }

  .date img {
    width: 2rem;
  }

  .name-creator {
    font-size: 2rem;
  }
}
